
body {
    background-image: url('../img/sativa.png');
}

.jumbotron{
    
    background-color: deepskyblue !important; 
    
    color: white ; 
}

.panel-heading{
    
    background-color: deepskyblue ! important ;
    color:white !important;
    
}

.navbar {
    
    background-color : #2b2b2b ;
}

.navbar-brand:link, .navbar-brand:visited{
    
    
    color: white !important ;
}

.navbar-brand:hover , .navbar-brand:active{
    color: deepskyblue !important; 
   
}

#navbar li a:hover,#navbar li a :active{
    
    color: whitesmoke ! important ; 
}

footer p{
    color: #2b2b2b ;
    
}
body {
    margin: 0 ; 
    padding: 0 ; 
    font-family: sans-serif ; 
    background: #262626
    
    
    
}
.box {
    width: 400px ; 
    padding: 40px;
    position: absolute;
    top: 110% ; 
    left: 50%;
   
    transform: translate(-50%,-50%) ; 
    background: #191919;
    text-align: center ; 
    
}

.box h1{
    
    color:white ;
    text-transform: uppercase; 
    font-weight: 500; 
        
    
    
}

.box input[type = "text"],.box input[type = "password"]{
    
     border:0; 
    background: none ;
    display: block ; 
    margin: 20px auto ; 
    text-align: center ; 
    border: 2px solid #2980b9 ; 
    padding: 14px 10px ; 
    width: 200px ; 
    outline: none ; 
    color:white ; 
    border-radius: 20px ; 
    transition: 0.25s;
 
      
    
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px; 
    border-color: 2ecc71;
}
.box input[type = "submit"]{
    
      border:0; 
    background: none ;
    display: block ; 
    margin: 20px auto ; 
    text-align: center ; 
    border: 2px solid #2ecc71 ; 
    padding: 14px 10px ; 
    width: 200px ; 
    outline: none ; 
    color:white ; 
    border-radius: 20px ; 
    transition: 0.25s;
    cursor:pointer;
    
}
.box input[type = "submit"]:hover{
    background: #2ecc71
    
    
}

.panel-body h2 {
    
    color:white
}